[Unit]
Description=lights
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/space-bed-3-client/update-lights.py
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
 
[Install]
WantedBy=multi-user.target
